.container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    height: auto;
    gap: 30px;
    border-radius: 5px;
    box-shadow: 3px 2px 5px black;

   
    
}
.card{
    display: block;
    border: 1px solid black;
    justify-content: center;
    
}
.button:hover{
   
    display: flex;
    justify-content: center;
    cursor: pointer ;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 150;
    height: auto;
    color: rgb(8, 134, 236);
    border: 1px solid rgb(8, 134, 236);
    border-radius:  4px;
}