
:root{
    --color-base:#333;
    --color-base-figure-background:#f0f8ff;
    --color-base-figure-border:#ccc;
}

body{
    color:var(--color-base);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
h1{
    font-family:'Libre Bodoni';

    background-color: #a34a4a;
}
h2{
    font-family:"Impact", "Haettenschweiler", 'Arial Narrow Bold', "sans-serif";
    border-bottom: 2px groove #333333;
    margin-top: 30px;
}

figure{
    background-color: var(--color-base);
    border: 1px solid var(--color-base-figure-border);
    text-align: center;
    padding: 15px;
    margin: 30px;
}
figcaption{
    color: #f0f8ff;
    font-style: italic;
    margin-top: 10px;
}
ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}